<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres para o documento como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a visualização para dispositivos móveis -->
    <title>Consulta de Dados</title> <!-- Título da página que aparece na aba do navegador -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Link para a folha de estilo CSS -->
</head>
<body>
    <div class="container"> <!-- Div principal que contém todo o conteúdo da página -->
        <h1>Consulta de Dados</h1> <!-- Título principal da página -->

        <!-- Formulário de Pesquisa -->
        <form method="POST" class="form-container"> <!-- Início do formulário com método POST -->
            <div class="form-row"> <!-- Div para agrupar elementos do formulário -->
                <div class="form-group"> <!-- Div para um grupo de controles de formulário -->
                    <label for="cnpj">CNPJ</label> <!-- Rótulo para o campo de entrada CNPJ -->
                    <input type="text" id="cnpj" name="cnpj" placeholder="Digite CNPJ"> <!-- Campo de entrada para CNPJ -->
                </div>
            </div>
            <div class="form-row"> <!-- Outra linha do formulário -->
                <div class="form-group"> <!-- Grupo para o campo Nome -->
                    <label for="nome">Nome</label> <!-- Rótulo para o campo de entrada Nome -->
                    <input type="text" id="nome" name="nome" placeholder="Digite Nome"> <!-- Campo de entrada para Nome -->
                </div>
                <div class="form-group"> <!-- Grupo para o campo CPF -->
                    <label for="cpf">CPF</label> <!-- Rótulo para o campo de entrada CPF -->
                    <input type="text" id="cpf" name="cpf" placeholder="Digite CPF"> <!-- Campo de entrada para CPF -->
                </div>
            </div>
            <div class="form-row"> <!-- Outra linha do formulário -->
                <div class="form-group"> <!-- Grupo para o campo Pesquisa Coringa -->
                    <label for="coringa">Pesquisa Coringa</label> <!-- Rótulo para o campo de entrada Pesquisa Coringa -->
                    <input type="text" id="coringa" name="coringa" placeholder="Digite Nome, Email ou Telefone"> <!-- Campo de entrada para Pesquisa Coringa -->
                </div>
            </div>
            <div class="form-row"> <!-- Linha para o botão de busca -->
                <button type="submit" class="btn-primary">Buscar</button> <!-- Botão de envio para buscar dados -->
            </div>
        </form>

        <h2>Resultados</h2> <!-- Título para a seção de resultados -->
        {% if estabelecimentos_cnpj %} <!-- Início de um bloco condicional: verifica se há resultados -->
            <div class="form-row"> <!-- Linha para o botão de exportação -->
                <form method="GET" action="{{ url_for('export_excel') }}"> <!-- Formulário para exportação, método GET -->
                    <button type="submit" class="btn-primary">Exportar dados para Excel</button> <!-- Botão para exportar dados -->
                </form>
            </div>
            {% for index in range(estabelecimentos_cnpj|length) %} <!-- Início de um loop: itera sobre os resultados -->
            <div class="result-block"> <!-- Bloco para exibir os resultados -->
                <h3>{{ empresas_nome[index] }}</h3> <!-- Nome da empresa -->
                <p><strong>CNPJ:</strong> {{ estabelecimentos_cnpj[index] }}</p> <!-- CNPJ da empresa -->
                <p><strong>Nome:</strong> {{ empresas_nome[index] }}</p> <!-- Nome da empresa (repetido) -->
                <p><strong>Constituição:</strong> {{ estabelecimentos_data_de_inicio_de_atividade[index] }}</p> <!-- Data de início da atividade -->
                <p><strong>Filial ou Matriz:</strong> {{ estabelecimentos_identificador_matriz_filial[index] }}</p> <!-- Indicação de filial ou matriz -->
                <p><strong>Endereço:</strong> {{ estabelecimentos_endereco[index] }}</p> <!-- Endereço da empresa -->
                <p><strong>Status:</strong>
                   <span class="{% if estabelecimentos_situacao_cadastral[index] == 'Baixada' %}status-red{% else %}status-green{% endif %}"> <!-- Verifica o status cadastral e aplica classe CSS correspondente -->
                       {{ estabelecimentos_situacao_cadastral[index] }} <!-- Exibe o status cadastral -->
                   </span>
                </p>
                <p><strong>Data Status:</strong> {{ estabelecimentos_data_situacao_cadastral[index] }}</p> <!-- Data do status cadastral -->
                <p><strong>Motivo Status:</strong> {{ estabelecimentos_motivo_situacao_cadastral[index] }}</p> <!-- Motivo do status cadastral -->
                <p><strong>QSA:</strong> {{ socios_socios[index] }}</p> <!-- QSA dos sócios -->
                <p><strong>Representante:</strong> {{ socios_repre_legal[index] }}</p> <!-- Representante legal -->
                <p><strong>Nome Representante:</strong> {{ socios_nome_repre[index] }}</p> <!-- Nome do representante -->
                <p><strong>Qualificação Representante:</strong> {{ socios_quali_repre[index] }}</p> <!-- Qualificação do representante -->
                <p><strong>País:</strong> {{ socios_pais[index] }}</p> <!-- País dos sócios -->
                <p><strong>Capital Social:</strong> {{ empresas_capital_social[index] }}</p> <!-- Capital social da empresa -->
                <p><strong>Ente Federativo:</strong> {{ empresas_ente_federativo[index] }}</p> <!-- Ente federativo da empresa -->
                <p><strong>Qualificação Responsável:</strong> {{ empresas_quali_responsavel[index] }}</p> <!-- Qualificação do responsável pela empresa -->
                <p><strong>Natureza Jurídica:</strong> {{ empresas_natureza_juridica[index] }}</p> <!-- Natureza jurídica da empresa -->
                <p><strong>Porte:</strong> {{ empresas_porte[index] }}</p> <!-- Porte da empresa -->
                <p><strong>Nome Fantasia:</strong> {{ estabelecimentos_nome_fantasia[index] }}</p> <!-- Nome fantasia da empresa -->
                <p><strong>Cidade Exterior:</strong> {{ estabelecimentos_cidade_exterior[index] }}</p> <!-- Cidade exterior -->
                <p><strong>País:</strong> {{ estabelecimentos_pais[index] }}</p> <!-- País da empresa -->
                <p><strong>CNAE Principal:</strong> {{ estabelecimentos_cnae_principal[index] }}</p> <!-- CNAE principal da empresa -->
                <p><strong>CNAE Secundário:</strong> {{ estabelecimentos_cnae_secundario[index] }}</p> <!-- CNAE secundário da empresa -->
                <p><strong>Telefones:</strong> {{ estabelecimentos_telefones[index] }}</p> <!-- Telefones da empresa -->
                <p><strong>Email:</strong> {{ estabelecimentos_correio_eletronico[index] }}</p> <!-- E-mail da empresa -->
                <p><strong>Situação Especial:</strong> {{ estabelecimentos_situacao_especial[index] }}</p> <!-- Situação especial da empresa -->
                <p><strong>Data da Situação Especial:</strong> {{ estabelecimentos_data_situacao_especial[index] }}</p> <!-- Data da situação especial -->
            </div>
            {% endfor %} <!-- Fim do loop -->
        {% else %} <!-- Caso não haja resultados -->
            <p>Nenhum resultado encontrado.</p> <!-- Mensagem para informar que não há resultados -->
        {% endif %} <!-- Fim do bloco condicional -->
    </div>
</body>
</html>
